.vscode/**
.vscode-test/**
src/**
test/**
**/*.map
.gitignore
tsconfig.json
tsconfig.webview.json
vitest.config.ts
esbuild.config.mjs
esbuild.webview.config.mjs
.eslintrc.cjs
.prettierrc
pnpm-lock.yaml
**/*.ts
!node_modules/**
docs/**
.cursor/**
